{% extends "_base.html" %}
{% load static %}
{% block title %}Book{% endblock %}
{% block main %}
  <div class="card border-red m-auto mb-3 text-center"
    style="max-width: 60rem">
    <div class="card-header">
      <h1 class="card-title">{{ book.title }}</h1>
        <h5>By</h5>
        <h3 class="card-title">{{ book.author }}</h3>
    </div>
    <div class="card-body text-dark">
        <p class="fw-bold">
            {{book.title}} is a {{book.genre}} novel written by {{book.author}}. It was first published on {{book.first_published}}.
        </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">
        
        
        
      </small>
    </div>
  </div>
{% endblock %}